In [20]:
import os
import pandas as pd

# Directory containing Excel files
folder_path = 'Data/Y21/V'

# Get list of all files in the directory
files = os.listdir(folder_path)

# Filter out only Excel files
excel_files = [file for file in files if file.endswith('.xlsx') or file.endswith('.xls')]

# print(excel_files)

# Iterate over each Excel file and read it into a DataFrame
dfs = []
dept_list=["EC","CE","EEE","EIE","IT","ME","CB DS"]
main_df_21_5=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    for i in dept_list:
        if(i in file_path):
            dept=i
           # print(dept)
    sheet=pd.read_excel(file_path,header=None)
    u_s1=sheet.iloc[7:,:]
    u_s1.columns = u_s1.iloc[0]
    u_s1.reset_index(drop=True,inplace=True)
    u_s1=u_s1.iloc[1:,:]
    u_s1.columns.values[0]="Reg Id"
    u_s1.columns.values[1]="Name"
    new_df=pd.DataFrame(u_s1)
    temp_cols_sc=list(new_df.columns)
    temp_cols_sn=list(new_df.columns)
    temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
    temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
    for i in range(0,len(temp_cols_sc_index)):
        new_df_temp=pd.DataFrame()
        new_df_temp["Name"]=new_df["Name"]
        new_df_temp["Reg Id"]=new_df["Reg Id"]
        new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
        new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
        new_df_temp["Dept"]=dept
        new_df_temp["Sem"]="V"
        new_df_temp["Year"]="21"
        main_df_21_5=pd.concat([main_df_21_5,new_df_temp],ignore_index=True,axis=0)

In [2]:
main_df_21_5.shape

(2647, 7)

In [3]:
vi_21_samef_dept_list=["CB",'CS','CE','DS','EC','EI','IT','ME']
vi_21_diff_dept_list=["EE"]

In [5]:
import os
import pandas as pd

# Directory containing Excel files
folder_path = 'Data/Y21/VI'

# Get list of all files in the directory
files = os.listdir(folder_path)

# Filter out only Excel files
excel_files = [file for file in files if file.endswith('.xlsx') or file.endswith('.xls')]

# print(excel_files)

# print(len(excel_files))

# Iterate over each Excel file and read it into a DataFrame
dfs = []
vi_21_samef_dept_list=["CB",'CS','CE','DS','EC','EI','IT','ME']
vi_21_diff_dept_list=["EE"]
main_df_21_6=pd.DataFrame(columns=["Reg Id","SUB CODE","SUB NAME","Dept","Sem","Year"])
for file in excel_files:
    file_path = os.path.join(folder_path, file)
#     print(file_path)
    for i in vi_21_samef_dept_list:
        if(i in file_path and '~$' not in file_path):
            dept=i
#             print(dept)
            sheet=pd.read_excel(file_path,header=None)
            u_s1=sheet.iloc[2:,:]
            u_s1.columns = u_s1.iloc[0]
            u_s1.reset_index(drop=True,inplace=True)
            u_s1=u_s1.iloc[1:,:]
            u_s1.columns.values[0]="Reg Id"
            new_df=pd.DataFrame(u_s1)
            temp_cols_sc=list(new_df.columns)
            temp_cols_sn=list(new_df.columns)
            temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
            temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
            for i in range(0,len(temp_cols_sc_index)):
                new_df_temp=pd.DataFrame()
                new_df_temp["Reg Id"]=new_df["Reg Id"]
                new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
                new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
                new_df_temp["Dept"]=dept
                new_df_temp["Sem"]="VI"
                new_df_temp["Year"]="21"
                main_df_21_6=pd.concat([main_df_21_6,new_df_temp],ignore_index=True,axis=0)

In [6]:
main_df_21_6

,Reg Id,SUB CODE,SUB NAME,Dept,Sem,Year
0,L21ACS415,20CS604/PE2/2B,Block Chain Technologies,CS,VI,21
1,L22ACS593,20CS604/PE2/2B,Block Chain Technologies,CS,VI,21
2,L22ACS596,20CS604/PE2/2B,Block Chain Technologies,CS,VI,21
3,L22ACS598,20CS604/PE2/2B,Block Chain Technologies,CS,VI,21
4,L22ACS602,20CS604/PE2/2B,Block Chain Technologies,CS,VI,21
...,...,...,...,...,...,...
1531,Y21ACS587,20CSL603/JO2/2B,INDUSTRIAL IOT LAB,EC,VI,21
1532,Y21ACS588,20CSL603/JO2/2C,COMPUTER ANIMATION AND GAME DESIGN LAB,EC,VI,21
1533,Y21ACS589,20CSL603/JO2/2B,INDUSTRIAL IOT LAB,EC,VI,21
1534,Y21ACS590,20CSL603/JO2/2A,MOBILE APPLICATION DEVELOPMENT LAB,EC,VI,21
1535,Y21ACS592,20CSL603/JO2/2B,INDUSTRIAL IOT LAB,EC,VI,21

In [9]:
import os
import pandas as pd


sheet=pd.read_excel("Data/Y21/VI/Y21 BATCH VI SEM ELECTIVES-EE.xlsx",header=None)
main_df_21_6_ee=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[8:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,1:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="EE"
    new_df_temp["Sem"]="VI"
    new_df_temp["Year"]="21"
    main_df_21_6_ee=pd.concat([main_df_21_6_ee,new_df_temp],ignore_index=True,axis=0)

In [10]:
main_df_21_6_ee.head(5)

      Reg Id                Name       SUB CODE      SUB NAME Dept Sem Year
0  L21AEE423       PUNURI BENHAR  20EE602/ PE2C  HVDC & FACTS   EE  VI   21
1  L22AEE490      ADABALA GANESH  20EE602/ PE2C  HVDC & FACTS   EE  VI   21
2  L22AEE491        ADADA GANESH  20EE602/ PE2C  HVDC & FACTS   EE  VI   21
3  L22AEE492  AGRAPU DURGAPRASAD  20EE602/ PE2C  HVDC & FACTS   EE  VI   21
4  L22AEE493   ALLA SONIKA REDDI  20EE602/ PE2C  HVDC & FACTS   EE  VI   21

In [11]:
main_df_21_6.shape

(1536, 6)

In [12]:
main_df_21_6_ee.shape

(500, 7)

In [13]:
main_df_21_6=pd.concat([main_df_21_6,main_df_21_6_ee],axis=0)

In [14]:
main_df_21_6.shape

(2036, 7)

In [15]:
main_df_21_5.shape

(2647, 7)

In [16]:
main_df_21=pd.concat([main_df_21_5,main_df_21_6],ignore_index=True,axis=0)

In [17]:
main_df_21.shape

(4683, 7)

In [18]:
main_df_21.to_excel("main_df_21.xlsx", index=False)