In [1]:
import os
import pandas as pd

# Directory containing Excel files
folder_path = 'Data/Y20/VI'

# Get list of all files in the directory
files = os.listdir(folder_path)

# Filter out only Excel files
excel_files = [file for file in files if file.endswith('.xlsx') or file.endswith('.xls')]

#print(excel_files)

# print(len(excel_files))

# Iterate over each Excel file and read it into a DataFrame
dfs = []
vi_20_samef_dept_list=["EC",'Mechanical','CE','CS','EEE','IT','EIE']
vi_20_diff_dept_list=["CBDS"]
main_df_20_6=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    #print(file_path)
    for i in vi_20_samef_dept_list:
        if("_"+i in file_path and '~$' not in file_path):
            dept=i
            #print(dept,file_path)
            sheet=pd.read_excel(file_path,header=None)
            u_s1=sheet.iloc[7:,:]
            u_s1.columns = u_s1.iloc[0]
            u_s1.reset_index(drop=True,inplace=True)
            u_s1=u_s1.iloc[1:,:]
            #print(u_s1.columns)
            u_s1.columns.values[0]="Reg Id"
            u_s1.columns.values[1]="Name"
            new_df=pd.DataFrame(u_s1)
            temp_cols_sc=list(new_df.columns)
            temp_cols_sn=list(new_df.columns)
            temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
            temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
            #print(temp_cols_sc_index,temp_cols_sn_index)
            for i in range(0,len(temp_cols_sc_index)):
                new_df_temp=pd.DataFrame()
                new_df_temp["Reg Id"]=new_df["Reg Id"]
                new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
                new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
                new_df_temp["Dept"]=dept
                new_df_temp["Sem"]="VI"
                new_df_temp["Year"]="20"
                new_df_temp["Name"]=new_df["Name"]
                main_df_20_6=pd.concat([main_df_20_6,new_df_temp],ignore_index=True,axis=0)

In [2]:
main_df_20_6.dropna(inplace=True)

In [3]:
main_df_20_6.shape

(2600, 7)

In [4]:
import os
import pandas as pd


sheet=pd.read_excel("Data/Y20/VI/A.Y 2022-23 VI SEM ELECTIVES-CBDS.xlsx",header=None)
main_df_20_6_cbds=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
u_s1=sheet.iloc[6:,:]
u_s1.columns = u_s1.iloc[0]
u_s1.reset_index(drop=True,inplace=True)
u_s1=u_s1.iloc[1:,1:]
u_s1.columns.values[0]="Reg Id"
u_s1.columns.values[1]="Name"
new_df=pd.DataFrame(u_s1)
temp_cols_sc=list(new_df.columns)
temp_cols_sn=list(new_df.columns)
temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
for i in range(0,len(temp_cols_sc_index)):
    new_df_temp=pd.DataFrame()
    new_df_temp["Reg Id"]=new_df["Reg Id"]
    new_df_temp["Name"]=new_df["Name"]
    new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
    new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
    new_df_temp["Dept"]="CBDS"
    new_df_temp["Sem"]="VI"
    new_df_temp["Year"]="20"
    main_df_20_6_cbds=pd.concat([main_df_20_6_cbds,new_df_temp],ignore_index=True,axis=0)

In [5]:
main_df_20_6_cbds.head(5)

,Reg Id,Name,SUB CODE,SUB NAME,Dept,Sem,Year
0,BOPPUDI SUDESH,20CB604/PE2,20CB605/JO2,BLOCKCHAIN TECHNOLOGIES,CBDS,VI,20
1,DAKAMARRI JESHNAVI SRI KAVITHA,20CB604/PE2,20CB605/JO2,BLOCKCHAIN TECHNOLOGIES,CBDS,VI,20
2,MADDI JAYANTH,20CB604/PE2,20CB605/JO2,BLOCKCHAIN TECHNOLOGIES,CBDS,VI,20
3,ATMAKURI RAMYA,20CB604/PE2,20CB605/JO2,BLOCKCHAIN TECHNOLOGIES,CBDS,VI,20
4,BODDULURI JAGADISH,20CB604/PE2,20CB605/JO2,BLOCKCHAIN TECHNOLOGIES,CBDS,VI,20

In [6]:
main_df_20_6.shape

(2600, 7)

In [7]:
main_df_20_6_cbds.shape

(195, 7)

In [8]:
main_df_20_6=pd.concat([main_df_20_6,main_df_20_6_cbds],axis=0)

In [9]:
main_df_20_6.shape

(2795, 7)

In [10]:
import pandas as pd

In [11]:
sheet=pd.read_excel("Data/Y20/VII/A.Y 2023-24 VII SEM ELECTIVES-CBDS.xlsx")

In [12]:
import os
import pandas as pd

# Directory containing Excel files
folder_path = 'Data/Y20/VII'

# Get list of all files in the directory
files = os.listdir(folder_path)

# Filter out only Excel files
excel_files = [file for file in files if file.endswith('.xlsx') or file.endswith('.xls')]

#print(excel_files)

# print(len(excel_files))

# Iterate over each Excel file and read it into a DataFrame
dfs = []
vi_20_samef_dept_list=["CBDS","CE","CS","EEE","ME","EC","IT","EIE"]
main_df_20_7=pd.DataFrame(columns=["Reg Id","Name","SUB CODE","SUB NAME","Dept","Sem","Year"])
for file in excel_files:
    file_path = os.path.join(folder_path, file)
    #print(file_path)
    for i in vi_20_samef_dept_list:
        if("_"+i in file_path and '~$' not in file_path):
            dept=i
            #print(dept,file_path)
            sheet=pd.read_excel(file_path,header=None)
            u_s1=sheet.iloc[2:,:]
            u_s1.columns = u_s1.iloc[0]
            u_s1.reset_index(drop=True,inplace=True)
            u_s1=u_s1.iloc[1:,:]
            #print(u_s1.columns)
            u_s1.columns.values[0]="Reg Id"
            u_s1.columns.values[1]="Name"
            new_df=pd.DataFrame(u_s1)
            temp_cols_sc=list(new_df.columns)
            temp_cols_sn=list(new_df.columns)
            temp_cols_sc_index=[i for i in range(0,len(temp_cols_sc)) if(temp_cols_sc[i]=="SUB CODE")]
            temp_cols_sn_index=[i for i in range(0,len(temp_cols_sn)) if(temp_cols_sn[i]=="SUB NAME")]
            #print(temp_cols_sc_index,temp_cols_sn_index)
            for i in range(0,len(temp_cols_sc_index)):
                new_df_temp=pd.DataFrame()
                new_df_temp["Reg Id"]=new_df["Reg Id"]
                new_df_temp["SUB CODE"]=new_df.iloc[:,temp_cols_sc_index[i]]
                new_df_temp["SUB NAME"]=new_df.iloc[:,temp_cols_sn_index[i]]
                new_df_temp["Dept"]=dept
                new_df_temp["Sem"]="VII"
                new_df_temp["Year"]="20"
                new_df_temp["Name"]=new_df["Name"]
                main_df_20_7=pd.concat([main_df_20_7,new_df_temp],ignore_index=True,axis=0)

In [13]:
main_df_20_7.head(5)

,Reg Id,Name,SUB CODE,SUB NAME,Dept,Sem,Year
0,L18ACE572,PULLA UMA MAHESH,20CE702/PEC03,Advanced Design of Concrete structures,CE,VII,20
1,L21ACE401,BHAVANAGIRI MEGHANA,20CE702/PEC03,Advanced Design of Concrete structures,CE,VII,20
2,L21ACE402,KAYALA CHAKRADHAR,20CE702/PEC03,Advanced Design of Concrete structures,CE,VII,20
3,L21ACE403,KURAKULA BHUVAN LAKSHMI PRAVEEN,20CE702/PEC03,Advanced Design of Concrete structures,CE,VII,20
4,L21ACE404,PACHHIGOLLA CHANIKYA,20CE702/PEC03,Advanced Design of Concrete structures,CE,VII,20

In [14]:
main_df_20_7.shape

(4464, 7)

In [15]:
main_df_20=pd.concat([main_df_20_6,main_df_20_7],axis=0)

In [16]:
main_df_20.dropna(inplace=True)

In [17]:
main_df_20.shape

(7160, 7)

In [18]:
main_df_20.to_excel("main_df_20.xlsx", index=False)